 // 3/window.scss
$window_state_1: url("/assets/img/window/window-start1.png");
$window_state_2: url("/assets/img/window/window-start2.png");

$window_outLine: url("/assets/img/window.png");

$window_smile: url("/assets/img/window/window-7.png");
$window_blink: url("/assets/img/window/window-blink.png");
$window_end_win1: url("/assets/img/window/window-sleep1.png");
$window_end_win2: url("/assets/img/window/window-sleep2.png");

$window_end_lose1: url("/assets/img/window/window-end1.png");
$window_end_lose2: url("/assets/img/window/window-end2.png");

$state_active_1: url("/assets/img/window/window-11.png");
$state_hunger_1: url("/assets/img/window/window-9.png");
$state_sanity_1: url("/assets/img/window/window-10.png");
$face_text_active: url("/assets/img/window/window-4.png");
$face_text_hunger: url("/assets/img/window/window-5.png");
$face_text_sanity: url("/assets/img/window/window-6.png");

@keyframes window_endWin_anim {
    0% {background-image: $window_end_win1;}
    50% {background-image: $window_end_win2;}
    100% {background-image: $window_end_win1;}
}
@keyframes window_endLose_anim {
    0% {background-image: $window_end_lose1;}
    50% {background-image: $window_end_lose2;}
    100% {background-image: $window_end_lose1;}
}

@keyframes window_state_anim {
    0% {background-image: $window_state_1;}
    50% {background-image: $window_state_2;}
    100% {background-image: $window_state_1;}
}

.window_start {
    width: 100%;
    height: 100%;
    background-image: $window_state_1;
}
.window_state {
    width: 100%;
    height: 100%;
    animation: window_state_anim .2s infinite;
}
.window_endWin {
    width: 100%;
    height: 100%;
    animation: window_endWin_anim 2s infinite;
}
.window_endLose {
    width: 100%;
    height: 100%;
    animation: window_endLose_anim 0.5s infinite;
}
#window_outLine {
    position: absolute;
    background-image: $window_outLine;
}
#window_blink {
    position: absolute;
    background-image: $window_blink;
}
#face_rg {
    width: 270px;
    height: 290px;
    background-image: $window_smile;
}
#face_state {
    position: absolute;
    #face_text {
        width: 100%;
        height: 100%;
    }
}

.window_0 {
    background-image: $state_active_1;
}
.window_1 {
    background-image: $state_hunger_1;
}
.window_2 {
    background-image: $state_sanity_1;
}
.face_text_0 {
    background-image: $face_text_active;
}
.face_text_1 {
    background-image: $face_text_hunger;
}
.face_text_2 {
    background-image: $face_text_sanity;
}
