 // end_scene.scss
$end_lock: url("/assets/img/end/slot-4.png");
$end_unlock: url("/assets/img/end/spritesheet.png");
$end_unlock_width: calc(4200/3.75); //14
$end_unlock_height: calc(300/3.75); //80

$end_retry: url("/assets/img/end/slot-3.png");
$end_next_1: url("/assets/img/end/slot-13.png");
$end_disk_1: url("/assets/img/end/slot-12.png");
$end_disk1: url("/assets/img/end/disk-1.jpg");


@media (min-width: 961px) { // 1.6比例
    @keyframes end_unlock_anim {
        to { background-image: $end_unlock; background-position-x: -#{$end_unlock_width*1.6}px; }}}

@media (max-width: 960px) {
    @keyframes end_unlock_anim {
        to { background-image: $end_unlock; background-position-x: -#{$end_unlock_width}px; }}}

@keyframes showEndScene_anim {
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}
@keyframes lock_click_anim {
    0%{ transform: rotate(-3deg); }
    50%{ transform: rotate(3deg); }
    100%{ transform: rotate(-3deg); }
}
#endSceneDiv {
    flex-direction: column;
    transition: all .5s;
    *{ 
        transition: all .5s;
    }
}
.end_scene {
    width: 100%;
    height: 100%;
    background: black;
}

#challengeText {
    color: red;
    animation: showEndScene_anim 1s linear;
}
#scoreNum {
    animation: showEndScene_anim 1s linear;
}
#end_btns {
    animation: showEndScene_anim 1s linear;
}




@font-face {
    font-family: "GochiHand";
    src: url('/assets/font/GochiHand-Regular.ttf');
}
#end_btnText {
    opacity: 0.5;
    font-family: "GochiHand", "Tekit", "Chen", "AaTao";
}
#backtomenu_btn {
    &:hover {
        scale: 1.2;
        opacity: 0.8;
    }
}
.end_lock {
    position: absolute;
    background-image: $end_lock;
    // animation: end_unlock_anim 2s steps(14) infinite;
}
.end_unlock {
    position: absolute;
    // background-image: $end_unlock;
    pointer-events: none;
    animation: end_unlock_anim 2s steps(14);
}
.end_lock_click {
    animation: lock_click_anim .2s linear infinite;
}
.end_btn {
    transition: all .5s;
    margin: 0 10px;
    opacity: 0.7;
    &:hover {
        scale: 1.2;
        opacity: 1;
    }
    // filter: blur(5px);
}

#retry_iconBtn_1 {
    background-image: $end_retry;
}
#next_iconBtn_1 {
    background-image: $end_next_1;
}
#disk_iconBtn_1 {
    background-image: $end_disk_1;
}

#diskDiv_1 {
    position: absolute;
    background-color: black;
    #disk_name {
        position: absolute;
        transform: scaleY(80%);
    }
    #disk_Xbtn {
        position: absolute;
        transform: scaleY(80%);
    }
    #diskPic_Xbtn {
        position: absolute;
        transform: scaleY(80%);
    }
    .diskPic {
        border: 2px solid white;
        filter: blur(1.5px);
        opacity: 0.3;
        transition: all .5s;
        &:hover{
            scale: (1.1);
            filter: blur(1px);
            opacity: 0.6;
        }
    }
}
.diskPick_click {
    position: absolute;
    background-image: $end_disk1;
    background-color: white;

    width: 500px;
    height: 300px;
    margin-bottom: 100px;
    z-index: 1;
}

.disk_data_1 {
    background-image: $end_disk1;
}.disk_data_2 {
    background-image: $end_disk1;
}.disk_data_3 {
    background-image: $end_disk1;
}.disk_data_4 {
    background-image: $end_disk1;
}

