// transtion.js

$snow1: url("/assets/img/menu/scene-30.png");
$snow2: url("/assets/img/menu/scene-31.png");
$snow3: url("/assets/img/menu/scene-32.png");

#transDiv{
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    // inset: -100%;
    z-index: 1;
}
.trans_fade {
    animation: showtrans_anim 6s linear;
}
#trans_text {
    animation: loading_anim 2.2s linear infinite;
}
#trans_snow {
    width: 640px;
    height: 480px;
    animation: transSnow_anim .1s linear infinite;
    filter: blur(1px);
}
@keyframes showtrans_anim {
    40% { opacity: 1; } 
    100% { opacity: 0; } 
}

@keyframes transSnow_anim {
    0% { background-image: $snow1;  opacity: 0.3; }
    50% { background-image: $snow2;  opacity: 0.1; }
    100% { background-image: $snow3;  opacity: 0.3; }
}
@keyframes loading_anim {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}