 // rwd

$width_1: 1024px;
$height_1: 768px;
@media (min-width: 961px) { // 1.6比例
    body {
        * {
            font-size: 32px;
        }
        
    }
    #app {
        width: 1760px;
        height: $height_1;
        #trans_snow {
            width: $width_1;
            height: $height_1;
        }
        #viewPort {
            width: $width_1;
            height: $height_1;
            &::before {
                width: 992px;
                margin-left: -2016px;
            }
            &::after {
                width: 992px;
                margin-left: 2016px;
            }
            #screenBtnDiv {
                div {
                    width: 64px;
                    height: 147px;
                }
                #screenL {
                    margin-right: 1016px;
                }
            }            
            #view_border {
                width: $width_1;
                height: $height_1;
            }
            .fuzzy-overlay {
                width: $width_1;
                height: $height_1;
            }
            #view_lose {
                &::before {
                    width: 2048px;
                    height: 160px;
                    margin-bottom: 928px;
                }
                &::after {
                    width: 2048px;
                    height: 160px;
                    margin-top: 928px;
                }
            }
            #view_lose_up {
                width: $width_1;
                height: $height_1;
            }
            #view_lose_down {
                width: $width_1;
                height: $height_1;
            }   
        }     
    }
    .langBtn {
        font-size: 32px;
    }
    .instruct_video {
        width: $width_1;
        height: $height_1;
    }
    .disk_video {
        width: $width_1;
        height: $height_1;
    }
    #logo_menu {
        width: 192px;
        height: 192px;
    }
    #menuArea {
        width: $width_1;
        height: $height_1;
        #menu_img {
            width: $width_1;
            height: 480px;
            margin-bottom: 160px;
        }
        #menu_bottom {
            margin-top: 608px;
            .volume_slot {
                width: 16px;
                margin: 0px 3.2px;
            }
            #volume_add {
                margin-left: 32px;
            }
            #volume_sub {
                margin-right: 32px;
            }
        }
        #menu_btns {
            margin-top: 480px;
        }
        .menu_btn {
            width: 160px;
            height: 48px;
            margin: 0px 48px;
        }
        .menu_btn:hover::before {
            width: 128px;
            height: 32px;
        }
        #credit_div {
            width: $width_1;
            height: 560px;
            margin-bottom: 800px;
            padding-top: 16px;
            * {
                margin: 4.8px 16px;
            }
        }
        #instruct_div {
            font-size: 40px;
            div {
                margin-top: 80px;
            }
        }
        #pass_tutorial {
            margin-top: 640px;
        }
        
    }
    #gameFilter {
        width: 1760px;
        height: $height_1;
    }
    #backGround {
        width: 1760px;
        height: $height_1;
    }
    #endSceneDiv {
        #challengeText {
            font-size: 48px;
            margin-bottom: 128px;
        }
        #scoreNum {
            font-size: 56px;
            margin-top: -112px;
            margin-bottom: 80px;
        }
        #end_btns {
            margin-bottom: 8px;
        }
        #end_btnText {
            font-size: 40px;
            margin-bottom: 128px;
            letter-spacing: 3.2px;
        }
        #backtomenu_btn {
            font-size: 48px;
        }
        .end_lock {
            width: 128px;
            height: 128px;
        }
        .end_unlock {
            width: 128px;
            height: 128px;
        }
        .end_btn {
            width: 128px;
            height: 128px;
        }
        #disk_open {
            width: $width_1;
            height: $height_1;
            #disk_name {
                width: 400px;
                height: 48px;
                margin-bottom: 320px;
                margin-right: 240px;
            }
            #disk_Xbtn {
                width: 48px;
                height: 48px;
                margin-bottom: 320px;
                margin-left: 608px;
            }
            #diskPic_Xbtn {
                width: 48px;
                height: 48px;
                margin-top: 550px;
            }
            .diskPic {
                width: 96px;
                height: 96px;
                margin: 16px;
            }
        }
        .diskPick_click {
            width: 800px;
            height: 480px;
            margin-bottom: 160px;
        }       
        .pic_text {
            width: 800px;
            height: 480px;
        }
        #pic_text_detect {
            width: 800px;
            height: 560px;    
            margin-bottom: 160px;
        } 
    
    }  
    #computerArea {
        width: 520px;
        height: 576px;
        padding-bottom: 48px;
        margin: 0px 128px 80px;
        #computerDiv {
            margin-bottom: 48px;
            .screen_text {
                width: 400px;
                height: 80px;
            }
            #sleepyDiv {
                height: 64px;
                margin-bottom: 16px;
            }
        }
        #wallPaper {
            width: 240px;
            height: 240px;
        }
        #click_to_start {
            margin-top: 240px;
            font-size: 48px;
        }
        
    }
    #computerShadow {
        width: 640px; 
        height: 640px;
        margin-right: 112px;
        margin-bottom: 100px;
    }
    #doorArea {
        width: 384px;
        height: 592px;
        #doorDiv {
            #doorFrame {
                width: 408px;
                height: 616px;
            }
            #door_btns {
                margin-bottom: 128px;
                #request_btns {
                    width: 96px;
                    height: 96px;
                }
                .request_btn {
                    width: 96px;
                    height: 96px;
                }
            }
        }
    }
    #tableArea {
        width: 1600px;
        height: 250px;
        margin-top: 518px;
        margin-left: 160px;
    }
    #windowArea {
        width: 432px;
        height: 464px;
        margin-bottom: 224px;
        #roomDiv {
            width: 432px;
            height: 464px;
        }
        #window_outLine {
            width: 432px;
            height: 464px;
        }
        #window_blink {
            width: 432px;
            height: 464px;
        }
        #face_rg {
            width: 432px;
            height: 464px;
        }
        #face_state {
            width: 432px;
            height: 464px;
        }
    }
    #windowShadow {
        width: 448px;
        height: 480px;
        margin-left: 1130px;
        margin-bottom: 230px;
    }    
}
$width_2: 640px;
$height_2: 480px;
@media (max-width: 960px) and (min-width: 451px) {
    body {
        * {
            font-size: 20px;
        }
        
    }
    #app {
        width: 1100px;
        height: $height_2;
        #trans_snow {
            width: $width_2;
            height: $height_2;
        }
        #viewPort {
            width: $width_2;
            height: $height_2;
            &::before {
                width: 620px;
                margin-left: -1260px;
            }
            &::after {
                width: 620px;
                margin-left: 1260px;
            }
            #screenBtnDiv {
                div {
                    width: 40px;
                    height: 92px;
                }
                #screenL {
                    margin-right: 635px;
                }
            }
            #view_border {
                width: $width_2;
                height: $height_2;
            }
            .fuzzy-overlay {
                width: $width_2;
                height: $height_2;
            }
            #view_lose {
                &::before {
                    width: 1280px;
                    height: 400px;
                    margin-bottom: 880px;
                }
                &::after {
                    width: 1280px;
                    height: 400px;
                    margin-top: 880px;
                }
            }
            #view_lose_up {
                width: $width_2;
                height: $height_2;
            }
            #view_lose_down {
                width: $width_2;
                height: $height_2;
            }
        }
    }
    .langBtn { 
        font-size: 20px;
    }
    .instruct_video { 
        width: $width_2;
        height: $height_2;
    }
    .disk_video {
        width: $width_2;
        height: $height_2;
    }
    #logo_menu {
        width: 120px;
        height: 120px;
    }
    #menuArea { 
        width: $width_2;
        height: $height_2;
        #menu_img { 
            width: $width_2;
            height: 300px;
            margin-bottom: 100px;
        }
        #menu_bottom { 
            margin-top: 380px;
            .volume_slot {
                width: 10px;
                margin: 0px 2px;
            }
            #volume_add {
                margin-left: 20px;
            }
            #volume_sub {
                margin-right: 20px;
            }
        }
        #menu_btns {
            margin-top: 300px;
        }
        .menu_btn {
            width: 100px;
            height: 30px;
            margin: 0px 30px;
        }
        .menu_btn:hover::before {
            width: 80px;
            height: 20px;
        }
        #credit_div {
            width: $width_2;
            height: 350px;
            margin-bottom: 500px;
            padding-top: 10px;
            * {
                margin: 3px 10px;
            }
        }
        #instruct_div {
            font-size: 25px;
            div {
                margin-top: 50px;
            }
        }
        #pass_tutorial {
            margin-top: 400px;
        }
    }
    #gameFilter { 
        width: 1100p3;
        height: $height_2;
    }
    #backGround {
        width: 1100px;
        height: $height_2;
    }
    #endSceneDiv {
        #challengeText {
            font-size: 30px;
            margin-bottom: 80px;
        }
        #scoreNum {
            font-size: 35px;
            margin-top: -70px;
            margin-bottom: 50px;
        }
        #end_btns {
            margin-bottom: 5px;
        }
        #end_btnText {
            font-size: 25px;
            margin-bottom: 80px;
            letter-spacing: 2px;
        }
        #backtomenu_btn {
            font-size: 30px;
        }
        .end_lock {
            width: 80px;
            height: 80px;
        }
        .end_unlock {
            width: 80px;
            height: 80px;
        }
        .end_btn {
            width: 80px;
            height: 80px;
        }    
        #disk_open {
            width: $width_2;
            height: $height_2;
            #disk_name {
                width: 250px;
                height: 30px;
                margin-bottom: 200px;
                margin-right: 150px;
            }
            #disk_Xbtn {
                width: 30px;
                height: 30px;
                margin-bottom: 200px;
                margin-left: 380px;
            }
            #diskPic_Xbtn {
                width: 30px;
                height: 30px;
                margin-top: 350px;
            }
            .diskPic {
                width: 60px;
                height: 60px;
                margin: 10px;
            }
            .pic_text {
                width: 500px;
                height: 300px;
            }
        }
        .diskPick_click {
            width: 500px;
            height: 300px;
            margin-bottom: 100px;
        }
        #pic_text_detect {
            width: 500px;
            height: 300px;       
            margin-bottom: 100px;
        }
    }
    #doorArea {
        width: 240px;
        height: 370px;
        #doorDiv {
            #doorFrame {
                width: 255px;
                height: 385px;
            }
            #door_btns {
                margin-bottom: 80px;
                #request_btns {
                    width: 60px;
                    height: 60px;
                }
                .request_btn {
                    width: 60px;
                    height: 60px;
                }
                
            }
        }
    }
    #computerArea { 
        width: 325px;
        height: 360px;
        padding-bottom: 30px;
        margin: 0px 80px 0px;
        #computerDiv {
            margin-bottom: 30px;
            .screen_text {
                width: 250px;
                height: 50px;
            }
            #sleepyDiv {
                height: 40px;
                margin-bottom: 10px;
            }
        }
        #wallPaper {
            width: 150px;
            height: 150px;
        }
        #click_to_start {
            margin-top: 100px;
            font-size: 50px;
        }
    }
    #computerShadow {
        width: 400px;
        height: 400px;
        margin-right: 70px;
        margin-bottom: 20px;
    }
    #tableArea {
        width: 1000px;
        height: 150px;
        margin-top: 330px;
        margin-left: 100px;
    }
    #windowArea { 
        width: 270px;
        height: 290px;
        margin-bottom: 140px;
        #roomDiv {
            width: 270px;
            height: 290px;
        }
        #window_outLine {
            width: 270px;
            height: 290px;
        }
        #window_blink {
            width: 270px;
            height: 290px;
        }
        #face_rg {
            width: 270px;
            height: 290px;
        }
        #face_state {
            width: 270px;
            height: 290px;
        }
    }
    #windowShadow { 
        width: 300px;
        height: 320px;
        margin-left: 730px;
        margin-bottom: 160px;
    }
}
$width_3: 320px;
$height_3: 240px;
@media (max-width: 450px) {
    body {
        * {
            font-size: 15px;
        }
    }
    #app {
        width: 550px;
        height: $height_3;
        #trans_snow {
            width: $width_3;
            height: $height_3;
        }
        #viewPort {
            width: $width_3;
            height: $height_3;
            &::before {
                width: 310px;
                margin-left: -630px;
            }
            &::after {
                width: 310px;
                margin-left: 630px;
            }
            #screenBtnDiv {
                div {
                    width: 150px;
                    height: 80px;
                    margin-top: 350px;

                }
                #screenL {
                    margin-right: 20px;
                }
            }
            #view_border {
                width: $width_3;
                height: $height_3;
            }
            .fuzzy-overlay {
                width: $width_3;
                height: $height_3;
            }
            #view_lose {
                &::before {
                    width: 640px;
                    height: 200px;
                    margin-bottom: 440px;
                }
                &::after {
                    width: 640px;
                    height: 200px;
                    margin-top: 440px;
                }
            }
            #view_lose_up {
                width: $width_3;
                height: $height_3;
            }
            #view_lose_down {
                width: $width_3;
                height: $height_3;
            }
        }
    }
    .langBtn {
        font-size: 20px;
    }
    .instruct_video {
        width: $width_3;
        height: $height_3;
    }
    .disk_video {
        width: $width_3;
        height: $height_3;
    }
    #logo_menu {
        width: 60px;
        height: 60px;
    }
    #menuArea {
        width: $width_3;
        height: $height_3;
        #menu_img {
            width: $width_2;
            height: 150px;
            margin-bottom: 50px;
        }
        #menu_bottom {
            margin-top: 190px;
            .volume_slot {
                width: 5px;
                margin: 0px 1px;
            }
            #volume_add {
                margin-left: 10px;
            }
            #volume_sub {
                margin-right: 10px;
            }
        }
        #menu_btns {
            margin-top: 150px;
        }
        .menu_btn {
            width: 50px;
            height: 15px;
            margin: 0px 15px;
        }
        .menu_btn:hover::before {
            width: 40px;
            height: 10px;
        }
        #credit_div {
            width: $width_2;
            height: 175px;
            margin-bottom: 250px;
            padding-top: 5px;
            * {
                margin: 1.5px 5px;
            }
        }
        #instruct_div {
            font-size: 12px;
            div {
                margin-top: 25px;
            }
        }
        #pass_tutorial {
            margin-top: 200px;
        }
    }
    #gameFilter {
        width: 550px;
        height: $height_3;
    }
    #backGround {
        width: 550px;
        height: $height_3;
    }
    #endSceneDiv {
        #challengeText {
            font-size: 15px;
            margin-bottom: 40px;
        }
        #scoreNum {
            font-size: 17.5px;
            margin-top: -35px;
            margin-bottom: 25px;
        }
        #end_btns {
            margin-bottom: 2.5px;
        }
        #end_btnText {
            font-size: 12.5px;
            margin-bottom: 40px;
            letter-spacing: 1px;
        }
        #backtomenu_btn {
            font-size: 15px;
        }
        .end_lock {
            width: 40px;
            height: 40px;
        }
        .end_unlock {
            width: 40px;
            height: 40px;
        }
        .end_btn {
            width: 40px;
            height: 40px;
        }
        #disk_open {
            width: $width_3;
            height: $height_3;
            #disk_name {
                width: 125px;
                height: 15px;
                margin-bottom: 100px;
                margin-right: 75px;
            }
            #disk_Xbtn {
                width: 15px;
                height: 15px;
                margin-bottom: 100px;
                margin-left: 190px;
            }
            #diskPic_Xbtn {
                width: 15px;
                height: 15px;
                margin-top: 175px;
            }
            .diskPic {
                width: 30px;
                height: 30px;
                margin: 5px;
            }
            .pic_text {
                width: 250px;
                height: 150px;
            }
        }
        .diskPick_click {
            width: 250px;
            height: 150px;
            margin-bottom: 50px;
        }
        #pic_text_detect {
            width: 250px;
            height: 150px;
            margin-bottom: 50px;
        }
    }
    #doorArea {
        width: 120px;
        height: 185px;
        #doorDiv {
            #doorFrame {
                width: 127.5px;
                height: 192.5px;
            }
            #door_btns {
                margin-bottom: 40px;
                #request_btns {
                    width: 30px;
                    height: 30px;
                }
                .request_btn {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
    #computerArea {
        width: 162.5px;
        height: 180px;
        padding-bottom: 15px;
        margin: 0px 40px 0px;
        #computerDiv {
            margin-bottom: 15px;
            .screen_text {
                width: 125px;
                height: 25px;
            }
            #sleepyDiv {
                height: 20px;
                margin-bottom: 5px;
            }
        }
        #wallPaper {
            width: 75px;
            height: 75px;
        }
        #click_to_start {
            margin-top: 50px;
            font-size: 25px;
        }
    }
    #computerShadow {
        width: 200px;
        height: 200px;
        margin-right: 35px;
        margin-bottom: 10px;
    }
    #tableArea {
        width: 500px;
        height: 75px;
        margin-top: 165px;
        margin-left: 50px;
    }
    #windowArea {
        width: 135px;
        height: 145px;
        margin-bottom: 70px;
        #roomDiv {
            width: 135px;
            height: 145px;
        }
        #window_outLine {
            width: 135px;
            height: 145px;
        }
        #window_blink {
            width: 135px;
            height: 145px;
        }
        #face_rg {
            width: 135px;
            height: 145px;
        }
        #face_state {
            width: 135px;
            height: 145px;
        }
    }
    #windowShadow {
        width: 150px;
        height: 160px;
        margin-left: 365px;
        margin-bottom: 80px;
    }
}


/* 英文 */
body[lang="en"] {
    font-family: "ChakraPetch-Bold",;
} #end_btnText[lang="en"] {
    font-family: "GochiHand",;
} #pic_text_detect[lang="en"] {
    font-family: "GochiHand",;
}

/* 繁中 */
body[lang="cnt"] {
    font-family: "GenJyuu";
} #end_btnText[lang="cnt"] {
    font-family: "Tekit", "Chen",;
} #pic_text_detect[lang="cnt"] {
    font-family: "Tekit", "Chen",;
}

/* 簡中 */
body[lang="cns"] {
    font-family: "No82";
}
#end_btnText[lang="cns"] {
    font-family: "AaTao";
}
#pic_text_detect[lang="cns"] {
    font-family: "AaTao";
}

/* 西班牙語 */
body[lang="es"] {
    font-family: "ChakraPetch-Bold",;
} #end_btnText[lang="es"] {
    font-family: "GochiHand",;
} #pic_text_detect[lang="es"] {
    font-family: "GochiHand",;
}
