 // main.scss
@font-face {
    font-family: "ChakraPetch-Bold";
    src: url('/assets/font/ChakraPetch-Bold.ttf');
}
@font-face {
    font-family: "PeaberryBase";
    src: url('/assets/font/PeaberryBase.ttf');
}
@font-face {
    font-family: "SedanSC-Regular";
    src: url('/assets/font/SedanSC-Regular.ttf');
}
$font_cha: "ChakraPetch-Bold";
$font_pea: "PeaberryBase";
$font_sed: "SedanSC-Regular";
// window.resizeTo(800, 600);

body {
    height: 100vh;
    margin: 0;
    display: flex;
    background: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    * {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        // border: 3px solid white; 
        font-family: $font_cha;
        background-size: cover;
    }
    
}
#app {
    // margin: auto;
    color: white;
}
