 // 3/computer.js
$computer_icon: url("/assets/img/icon/icon-2.png");

@keyframes click_start_anim {
    50% { opacity: 0;}
}
@keyframes wall_paper_anim {
    0% { transform: translate(10%, 30%); }
    30% { transform: translate(55%, -20%); }
    50% { transform: translate(10%, -40%); }
    70% { transform: translate(-55%, -10%); }
    100% { transform: translate(10%, 30%); }
}

#computerDiv {
    flex-direction: column;
    * {
        border: none;
    }
    #sleepyDiv {
        color: red;
    }
}
.wallpaper_start {
    animation: wall_paper_anim 6s linear infinite;
    scale: 0.9;
}
#wallPaper {
    position: absolute;
    background-image: $computer_icon;
    opacity: 0.4;
    pointer-events: none;
}
#click_to_start {
    position: absolute;
    animation: click_start_anim 5s infinite;
    z-index: 1;
}