 // 3/computer.js
$computer_icon: url("/assets/img/icon/icon-2.png");


@keyframes click_start_anim {
    // 0% { opacity: 1;}
    50% { opacity: 0;}
    // 100% { opacity: 1;}
}
@keyframes wall_paper_anim {
    0% { transform: translate(10px, 30px); }
    30% { transform: translate(70px, -20px); }
    50% { transform: translate(10px, -50px); }
    70% { transform: translate(-65px, -10px); }
    100% { transform: translate(10px, 30px); }
}

#computerDiv {
    flex-direction: column;
    * {
        border: none;
    }
    .screen_text {
    }
    #sleepyDiv {
        color: red;
    }
}
.wallpaper_start {
    animation: wall_paper_anim 6s linear infinite;
    scale: 0.9;
}
#wallPaper {
    position: absolute;
    // margin-top: -3%;
    background-image: $computer_icon;
    opacity: 0.4;
    pointer-events: none;
}
#click_to_start {
    position: absolute;
    animation: click_start_anim 5s infinite;
    // color: red;
    z-index: 1;
}