// 1/language.scss

#languageDiv {
    .langBtn {
        margin: 10px;
        font-size: 20px;
    }
}
.instruct_video {
    position: absolute;
    width: 640px;
    height: 480px;
    pointer-events: none;
    // z-index: -1;
    display: none;
}