// 1/menu.scss
$menu: url("/assets/img/menu/start-1.png");
$icon: url("/assets/img/icon/hmcc.png");

@keyframes show_logo {
    0% { opacity: 0;}
    40% { opacity: 1;}
    100% { opacity: 0;}
}
@keyframes show_anim {
    from { opacity: 0;}
    to { opacity: 1;}
}
@keyframes disappear_anim {
    from { opacity: 1;}
    to { opacity: 0;}
}
#logo_div {
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    #logo_menu {
        background-image: $icon;
        animation: show_logo 5s linear;
    z-index: 4;

    }
}

#menuArea {
    #menu_btns {
        position: absolute;
        // flex-direction: column;
    }
    .menu_btn:hover {
        scale: 1.2;
        transition: all .1s;
        // margin: 0px 30px;
    }
    .menu_btn:hover::before {
        content: "";
        position: absolute;
        background: white;
        filter: blur(10px);
        opacity: 0.3;
    }
}
#menu_bottom { // only volume
    position: absolute;
    .volume_slot {
        font-size: 80%;
    }
    #volume_add {
        font-size: 150%;
    }
    #volume_sub {
        font-size: 150%;
    }
}
#lv2_working {
    font-size: 80%;
    color: blue;
}

#credit_div {
    position: absolute;
    flex-direction: column;
    background-color: black;
    pointer-events: none;
    // overflow: auto;
    .credit_title {
        font-size: 50%;
        flex-direction: column;
        color: rgb(57, 57, 57);
    }
    label {
        font-size: 100%;
        color: white;
    }
    a {
        font-size: 100%;
        pointer-events: all;
        color: red;
    }
}
#instruct_div {
    flex-direction: column;
    font-size: 25px;
    div {
        margin-top: 50px;
        opacity: 0.5;
        &:hover {
            scale: 1.2;
            opacity: 1;
        }
    }
}

#menu_img {
    width: 640px;
    height: 300px;
    // border: 2px solid white;
    margin-bottom: 100px;
    background-image: $menu;
}

.show_menu {
    animation: show_anim 3s ;
}
.disappear_menu {
    animation: disappear_anim 2s;
}
#tutorialArea{
    width: 100%;
    height: 100%;
}
// #tutorial_1 {
//     width: 100%;
//     height: 100%; 
//     background-image: $tutor_1;
// }
#pass_tutorial {
    position: absolute;
}