// 1/menu.scss
$menu: url("/assets/img/menu/start-1.png");
$logo_1: url("/assets/img/menu/start-2.png");
$logo_2: url("/assets/img/menu/start-3.png");
$tutor_1: url("/assets/img/menu/start-4.png");

@keyframes show_anim {
    from { opacity: 0;}
    to { opacity: 1;}
}
@keyframes disappear_anim {
    from { opacity: 1;}
    to { opacity: 0;}
}

#menuArea {
    #menu_btns {
        position: absolute;
        // flex-direction: column;
    }
    .menu_btn:hover {
        scale: 1.2;
        transition: all .1s;
        // margin: 0px 30px;
    }
    .menu_btn:hover::before {
        content: "";
        position: absolute;
        background: white;
        filter: blur(10px);
        opacity: 0.3;
    }
}
#menu_bottom { 
    position: absolute;
    .volume_slot {
        font-size: 80%;
    }
    #volume_add {
        font-size: 150%;
    }
    #volume_sub {
        font-size: 150%;
    }
}
#instruct_div {
    flex-direction: column;
    font-size: 25px;
    div {
        margin-top: 50px;
        opacity: 0.5;
        &:hover {
            scale: 1.2;
            opacity: 1;
        }
    }
}

#menu_img {
    width: 100%;
    height: 100%;
    background-image: $menu;
}

#logoArea {
    width: 100%;
    height: 100%; 
    #logo_1 {
        width: 100%;
        height: 100%; 
        background-image: $logo_1;
    }
    #warning_logo {
        width: 100%;
        height: 100%; 
        background-image: $logo_2;
    }
}
.show_menu {
    animation: show_anim 3s ;
}
.disappear_menu {
    animation: disappear_anim 2s;
}
#tutorialArea{
    width: 100%;
    height: 100%;
}
#tutorial_1 {
    width: 100%;
    height: 100%; 
    background-image: $tutor_1;
}
#pass_tutorial {
    position: absolute;
}