// 1/menu.scss
$menu: url("/assets/img/menu/start-1.png");
$logo_1: url("/assets/img/menu/start-2.png");
$logo_2: url("/assets/img/menu/start-3.png");
$tutor_1: url("/assets/img/menu/start-4.png");

@keyframes show_anim {
    from { opacity: 0;}
    to { opacity: 1;}
}
@keyframes disappear_anim {
    from { opacity: 1;}
    to { opacity: 0;}
}

#menuArea {
    #menu_btns {
        position: absolute;
        flex-direction: column;
    }
}
#instruct_div {
    flex-direction: column;
    font-size: 25px;
    div {
        margin-top: 50px;
        opacity: 0.5;
        &:hover {
            scale: 1.2;
            opacity: 1;
        }
    }
}
#instruct_video {
    position: absolute;
    width: 640px;
    height: 480px;
    pointer-events: none;
    // z-index: -1;
    display: none;
}
#menu_img {
    width: 100%;
    height: 100%;
    background-image: $menu;
}

#logoArea {
    width: 100%;
    height: 100%; 
    #logo_1 {
        width: 100%;
        height: 100%; 
        background-image: $logo_1;
    }
    #warning_logo {
        width: 100%;
        height: 100%; 
        background-image: $logo_2;
    }
}
.show_menu {
    animation: show_anim 3s ;
}
.disappear_menu {
    animation: disappear_anim 2s;
}
#tutorialArea{
    width: 100%;
    height: 100%;
}
#tutorial_1 {
    width: 100%;
    height: 100%; 
    background-image: $tutor_1;
}
#pass_tutorial {
    position: absolute;
}