 // screen.scss
// zindex 3 button
$screen_tooth_1: url("/assets/img/screen/tooth-1.png");
$screen_tooth_2: url("/assets/img/screen/tooth-2.png");
// 按鈕的圖片在rwd

@keyframes lose_screenUp_anim {
    0% { opacity: 0; transform: translateY(50%) scale(1.2)};
    10% { opacity: 1; }
    100% { transform: translateY(0%) };
}
@keyframes lose_screenDown_anim {
    0% { opacity: 0; transform: translateY(-50%) scale(1.2)} ;
    10% { opacity: 1; }
    100% { transform: translateY(0%) };
}
@keyframes end_screen_anim {
    0% { opacity: 0; };
    100% { opacity: 1; }
}
#viewPort {
    position: absolute;
    pointer-events: none;
    border: none;
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    // clip-path: inset(5% 20% 15% 10%);
    z-index: 2;
    &::before {
        position: absolute;
        content: "";
        height: 110%;
        background: black;
        z-index: 2;
    }
    &::after {
        position: absolute;
        content: "";
        height: 110%;
        background: black;
        z-index: 2;
    }
}
#view_border {
    position: absolute;
    border: 5px solid blue;
    filter: blur(10px);
    z-index: 3;
}

#screenBtnDiv {
    border: none;
    div {
        pointer-events: auto;
        z-index: 3;
    }    
    div:hover {
        pointer-events: auto;
    }  
    #screenL {
        transform: scaleX(-1);
    }
}

#view_lose {
    width: 100%;
    height: 100%;
    &::before {
        content: "";
        position: absolute;
        background-color: black;
        z-index: 2;
    }
    &::after {
        content: "";
        position: absolute;
        background-color: black;
        z-index: 2;
    }
}

#view_lose_up {
    position: absolute;
    background-image: $screen_tooth_1;
    animation: 2s lose_screenUp_anim linear;
}
#view_lose_down {
    position: absolute;
    background-image: $screen_tooth_2;
    animation: 2s lose_screenDown_anim linear;
}
#view_lose_cover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: black;
    animation: 1s end_screen_anim linear;
}
#view_win {
    width: 100%;
    height: 100%;
    background: black;
    animation: 3.5s end_screen_anim linear;
}